.ui-jqgrid-view > .ui-jqgrid-titlebar {
    height: 30px;
    line-height: 17px;
    color: #FFF;
    background: #3c8dbc;
    padding: 0;
    font-size: 14px;
    text-align: left;
}

.ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    border-top: 0px none;
    border-bottom: 0px none;
}
.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: hidden;
    position: relative;
    height: 17px;
    text-align: left;
}
.tblFeatures {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

    .tblFeatures td, #tblFeatures th {
        border: 1px solid #ddd;
        padding: 6px;
    }

    .tblFeatures tr {
        background-color: #f2f2f2;
    }

        .tblFeatures tr:hover {
            background-color: #ddd;
        }

    .tblFeatures th {
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }


.bluelink {
    color: #007bff !important;
    text-decoration: underline !important;
    background-color: transparent !important;
}



