
@model SC.Data.BankTxn
@{
    ViewData["Title"] = "Bank Transaction";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<style>
    div button {
        float: right;
    }
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
@*<link href="~/Table/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
@*<link href="~/Table/css/main.css" rel="stylesheet" />*@
<script src="~/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<link href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
@*<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>*@
@*<script src="~/js/jquery.validate.js"></script>*@

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">

            <form asp-action="SaveBankTxn" class="needs-validation" name="frmSaveBankTxn" id="frmSaveBankTxn" role="form" data-toggle="validator">
                <div class="box-header with-border">
                    <h1 class="box-title">New Bank Transaction</h1>
                    <button type="submit" class="btn btn-primary btn-flat pull-right">Save</button>
                </div>
                <div class="box-body">
                    <div class="form-group col-lg-12">
                        <label>Transaction No</label>
                        <input asp-for="transno" class="form-control" disabled />
                        <span asp-validation-for="transno" class="text-danger" data-ng-message=""></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Transaction Type</label>
                        <select asp-for="trantype" class="form-control select2" required="required">
                            <option value="1">Deposit</option>
                            <option value="2">Withdraw</option>
                        </select>
                        <span asp-validation-for="trantype" class="text-danger" data-ng-message=""></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Transaction Date</label>
                        @Html.TextBoxFor(Model => Model.trandate, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                        <span asp-validation-for="trandate" class="text-danger" data-ng-message=""></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Paid To</label>
                        <select asp-for="BankId" class="form-control select2" required="required"></select>
                        <span asp-validation-for="BankId" class="text-danger" data-ng-message=""></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Amount</label>
                        <input asp-for="amount" class="form-control" data-error="Please enter your name" required="required" />
                        <span asp-validation-for="amount" class="text-danger" data-ng-message=""></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Ref No</label>
                        <input asp-for="refno" class="form-control" data-error="Please enter your name" required="required" />
                        <span asp-validation-for="refno" class="text-danger" data-ng-message=""></span>
                    </div>
                    <div class="form-group col-lg-12">
                        <label>Narration</label>
                        <textarea asp-for="narration" class="form-control" data-error="Please enter your name" required="required"></textarea>
                        <span asp-validation-for="narration" class="text-danger" data-ng-message=""></span>
                    </div>

                </div>

                <input type="hidden" asp-for="Id" />
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">

      $.ajax({

          url: '/Company/GetBank',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var divstring = '';
            $('#BankId').empty();
            for (var i = 0; i < data.rows.length; i++) {
                divstring += '<option Value="' + data.rows[i].id + '">' + data.rows[i].bankname + '</option>';
            }
            $('#BankId').append(divstring);
            if (@Model.Id > 0) {
                $('#BankId').val('@Model.BankId');
            }
        },
        error: function () {
            console.log('err')
        }
      });
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        showAnim: "fold"
    })

    $(document).ready(function () {
        jQuery('.select2').select2()
    });
</script>

