@{
    ViewData["Title"] = "Service Category List";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
	jQuery.browser = {};
	(function () {
		jQuery.browser.msie = false;
		jQuery.browser.version = 0;
		if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
			jQuery.browser.msie = true;
			jQuery.browser.version = RegExp.$1;
		}
	})();
</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
@*<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />*@
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-md-4">
                    Code <br /><input type="text" class="form-control"  id="serCode" />
                </div>
                <div class="col-md-4">
                    Name <br /><input type="text" class="form-control"  id="serName" />
                </div>
                <div class="col-md-4">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnSearch">Search</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" onclick="location.href='@Url.Action("NewServiceType", "Company")'">New</button>
                </div>
            </div>
            <div class="box-body">
                <table id="list-ServiceCategory" style="color:black !important" class="table table-dark"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-ServiceCategory').jqGrid({
        url: '/Company/GetServiceType',
		datatype: 'json',
        colNames: ['Id', 'Code', 'Name', 'Modify'],
		colModel: [
			{
				name: 'id', index: 'Id', editable: false, width: 100, key: true,hidden: true },
            { name: 'code', index: 'code', editable: true, width: 240, editrules: { required: true } },
            { name: 'name', index: 'name', editable: true, width: 240, editrules: { required: true } },
            { name: 'modify', width: 60, formatter: addEditLink }
		],
		jsonReader: {
            root: "rows",
            page: "page",
            total: "totalPages",
            records: "records",
            repeatitems: false,
            id: "0" },
         rowNum: 250,
         rownumbers: true,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        //multiselect: true,
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
		caption: 'List of Service Category'
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true  });
    jQuery("#btnSearch").click(function () {
        var serCode = $("#serCode").val();
        var serName = $("#serName").val();
        jQuery("#list-ServiceCategory").jqGrid('setGridParam',
            { url: "/Company/SearchAssetCategory?serCode=" + serCode + '&serName=' + serName, page: 1 })
            .trigger("reloadGrid");


    });
    function addEditLink(cellvalue, options, rowObject) {
        var Id = rowObject.id;
        return '<a href="/Company/NewServiceType?id=' + Id + '"  class="fa fas fa-edit"></a>';
    }
    $("#btnExport").on("click", function () {
        createExcelFromGrid("list-ServiceCategory", "Service-Category")
    })
    var createExcelFromGrid = function (gridID, filename) {
        var grid = $('#' + gridID);
        var rowIDList = grid.getDataIDs();
        var row = grid.getRowData(rowIDList[0]);
        var colNames = [];
        var i = 0;
        var html = '<table border="1px"><tr>';
        for (var cName in row) {
            if (cName == "id" || cName == "modify") {
            }
            else {
                colNames[i++] = cName;
                switch (cName) {
                    case "name": html += '<th>Name</th>';
                        break;
                    case "smallunit": html += '<th>Unit</th>';
                        break;
                    case "roe": html += '<th>ROE</th>';
                        break;
                }
            }// Capture Column Names
        }
        html += '</tr>';
        for (var j = 0; j < rowIDList.length; j++) {
            row = grid.getRowData(rowIDList[j]); // Get Each Row
            html += '<tr>';
            for (var i = 0; i < colNames.length; i++) {
                html += '<td bgcolor="#D0D3D4 ">' + row[colNames[i]] + '</td>'; // Create a CSV delimited with ;
            }
            html += '</tr>';
        }
        html += '</table>';
        var a = document.createElement('a');
        a.id = 'ExcelDL';
        a.href = 'data:application/vnd.ms-excel,' + escape(html);
        a.download = filename ? filename + ".xls" : 'DataList.xls';
        document.body.appendChild(a);
        a.click(); // Downloads the excel document
        document.getElementById('ExcelDL').remove();
    }
</script>
