@{
    ViewData["Title"] = "Ledger Load";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();

</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/Custom.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-md-4">
                    Ledger Name <br /><input type="text" class="form-control"  id="serName" />
                </div>
                <div class="col-md-3">
                    Account Type<br />
                    <select id="serCategory" name="status" class="form-control select2" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Designation"></select>
                </div>
                <div class="col-md-4">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnSearch">Search</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" onclick="location.href='@Url.Action("Newledger", "Company")'">New Ledger</button>
                </div>
            </div>
            <div class="box-body">
                <table id="list-ledger" style="color:black !important" class="table table-dark"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-ledger').jqGrid({
        url: '/Company/GetLedger',
        datatype: 'json',
        colNames: ['Id','Ledger', 'Details', 'Account Name'],
        colModel: [
            { name: 'id', index: 'Id', editable: false, width: 100, key: true, hidden: true },
            { name: 'name', index: 'name', editable: true, width: 240, editrules: { required: true } },
            { name: 'details', index: 'details', editable: true, width: 240, editrules: { required: true } },
            { name: 'coa.name', index: 'coa.name', editable: true, width: 240, editrules: { required: true } }
        ],
        jsonReader: {
            root: "rows",
            page: "page",
            total: "totalPages",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        subGrid: true,
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        rownumbers: true,
        scroll: 1,
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        subGridRowExpanded: function (subgrid_id, row_id) {
            debugger;
            var subgrid_table_id, pager_id;
            subgrid_table_id = subgrid_id + "_t";
            pager_id = "p_" + subgrid_table_id;
            $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>");
            jQuery("#" + subgrid_table_id).jqGrid({
                url: "/Company/GetLedgerDetails?q=2&LedgerId=" + row_id,
                datatype: 'json',
                colNames: ['Id', 'Ledger Id','Txn No','Txn Date', 'Dr','Cr', 'Description'],
                colModel: [
                    { name: 'id', index: 'id', editable: false, width: 100, key: true, hidden: true }, 
                    { name: 'ledgerId', index: 'ledgerId', editable: false, width: 100, key: true, hidden: true }, 
                    
                    { name: 'txnno', index: 'txnno', editable: false, width: 100, key: true, hidden: false }, 
                    { name: 'txndate', index: 'txndate', width: 120, formatter: 'date', formatoptions: { srcformat: 'Y/m/d', newformat: 'd-M-Y' } },                    
                    {
                        name: "dr", index: "dr", width: 100, formatter: 'number',
                        summaryTpl: "Total Dr: {0}  ",
                        summaryType: "sum" 
                    },
                    {
                        name: "cr", index: "cr", width: 60, formatter: 'number',
                        summaryTpl: "Total Cr: {0}  ",
                        summaryType: "sum"  },
                    {
                        name: "details", index: "details", width: 60, summaryTpl: "Total: {0}  ",
                        summaryType: getTotal  }


                ],
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "totalPages",
                    records: "records",
                    repeatitems: false,
                    id: "0"
                },
                //  pager: pager_id,
                rowNum: 250,
                rowList: [250, 500, 1000],
                pager: '#pager',
                sortname: 'code',
                sortorder: 'asc',
                //multiselect: true,
                viewrecords: true,
                height: '100%',
                width: '100%',
                sortorder: 'asc',
                rownumbers: true,
                scroll: 1,
                loadonce: false,
                autowidth: true,
                shrinkToFit: true,
                scrollOffset: 0,
                emptyrecords: 'No records',
                autoencode: true,
                gridview: true,
                grouping: true,
                groupingView: {
                    groupField: ["ledgerId"],
                    groupColumnShow: [false],
                    groupText: ["<b></b>"],
                    groupOrder: ["asc"],
                    groupSummary: [true],
                    groupCollapse: false

                },
                idPrefix: subgrid_table_id + "_"
            });
            jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false })
        },
        subGridRowColapsed: function (subgrid_id, row_id) {
            // this function is called before removing the data
            //var subgrid_table_id;
            //subgrid_table_id = subgrid_id+"_t";
            //jQuery("#"+subgrid_table_id).remove();
        },
        rownumbers: true,   
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        //multiselect: true,
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        grouping: true,
        caption: 'List of Ledgers'
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true },
    );
     
    jQuery("#btnSearch").click(function () {
        var serName = $("#serName").val();
        var serCategory = $("#serCategory").val();
        jQuery("#list-ledger").jqGrid('setGridParam',
            { url: "/Company/SearchLedger?serName=" + serName + '&serCategory=' + serCategory, page: 1 })
            .trigger("reloadGrid");
    }); 
    $.ajax({

        url: '/Company/GetCOAType',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var divstring = '';
            $('#serCategory').empty();
            for (var i = 0; i < data.rows.length; i++) {
                divstring += '<option Value="' + data.rows[i].id + '">' + data.rows[i].name + '</option>';
            }
            $('#serCategory').append(divstring);
        },
        error: function () {
            console.log('err')
        }
    });
    function getTotal(cellvalue, options, rowObject) {
        debugger;
        var value = 0;
        if (cellvalue != "") {
            value = parseInt(cellvalue);
        }
        return value + (rowObject.dr - rowObject.cr);

    }
    $("#btnExport").on("click", function () {
        createExcelFromGrid("list-ledger", "Ledger")
    })
    var createExcelFromGrid = function (gridID, filename) {
        var grid = $('#' + gridID);
        var rowIDList = grid.getDataIDs();
        var row = grid.getRowData(rowIDList[0]);
        var colNames = [];
        var i = 0;
        var html = '<table border="1px"><tr>';
        for (var cName in row) {
            if (cName == "id" || cName == "modify") {
            }
            else {
                colNames[i++] = cName;
                switch (cName) {
                    case "name": html += '<th>Name</th>';
                        break;
                    case "smallunit": html += '<th>Unit</th>';
                        break;
                    case "roe": html += '<th>ROE</th>';
                        break;
                }
            }// Capture Column Names
        }
        html += '</tr>';
        for (var j = 0; j < rowIDList.length; j++) {
            row = grid.getRowData(rowIDList[j]); // Get Each Row
            html += '<tr>';
            for (var i = 0; i < colNames.length; i++) {
                html += '<td bgcolor="#D0D3D4 ">' + row[colNames[i]] + '</td>'; // Create a CSV delimited with ;
            }
            html += '</tr>';
        }
        html += '</table>';
        var a = document.createElement('a');
        a.id = 'ExcelDL';
        a.href = 'data:application/vnd.ms-excel,' + escape(html);
        a.download = filename ? filename + ".xls" : 'DataList.xls';
        document.body.appendChild(a);
        a.click(); // Downloads the excel document
        document.getElementById('ExcelDL').remove();
    }

    $(document).ready(function () {
        jQuery('.select2').select2()
    });
</script>
