@{
    ViewData["Title"] = "Receipt List";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();

</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/Custom.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-md-2">
                    From Date <br /><input type="text" class="form-control datepicker" id="serfromdate" />
                </div>
                <div class="col-md-2">
                    To Date<br /> <input type="text" class="form-control datepicker" id="sertodate" />
                </div>
                <div class="col-md-2">
                    Voucher# <br /><input type="text" class="form-control" id="serVoucherNo" />
                </div>
                <div class="col-md-2">
                    Reference No <br /><input type="text" class="form-control" id="serRefNo" />
                </div>
                <div class="col-md-3">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" onclick="location.href='@Url.Action("NewReceipt", "Company")'">New</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnSearch">Search</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnProcess">Paid</button>
                </div>
            </div>
            <div class="x_content">
                <table id="list-receipts" style="color:black !important" class="table table-dark"></table>
            </div>
            <div id="pager"></div>
        </div>
    </div>
</div>
<script>
    $('#list-receipts').jqGrid({
        url: '/Company/GetReceipts',
        datatype: 'json',
        colNames: ['Id', 'Voucher#', 'Reference No', 'Transaction Date', 'Received From', 'Amount', 'balance', 'Amount Paying', 'Narration', 'Received As'],
        colModel: [
            { name: 'id', index: 'id', width: 200, editable: false, hidden: true },
            { name: 'transno', index: 'transno', width: 200, editable: false, sorttype: "date" },
            { name: 'refno', index: 'refno', width: 200, editable: false, sorttype: "date" },
            { name: 'trandate', index: 'trandate', width: 120, editable: false, formatter: 'date', formatoptions: { srcformat: 'Y/m/d', newformat: 'd-M-Y' } },
            { name: 'ledger.name', index: 'ledger.name', editable: false, width: 200 },
            { name: 'amount', index: 'amount', editable: false, width: 250 },
            { name: 'balance', index: 'balance', width: 250, editable: false, align: "right", sorttype: "float", formatter: "number" },
            { name: 'total', index: 'total', width: 250, align: "right", editoptions: { defaultValue: '0' }, editable: true, sorttype: "float", formatter: "number" },
            { name: 'narration', index: 'narration', editable: false, width: 250 },
            { name: 'status', formatter: addstatus, editable: false, width: 100 }
            //{ name: 'print', width: 60, formatter: printInvoice }

        ],
        jsonReader: {
            root: "rows",
            page: "page",
            total: "totalPages",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        rowNum: 250,
        rownumbers: true,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        onSelectRow: function (id) {
            jQuery('#list-receipts').jqGrid('editRow', id, true);

        },
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        caption: 'List of Receipts'
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true },
    );
    jQuery('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
    })
    function addstatus(cellvalue, options, rowObject) {
        if (rowObject.status == null)
            return '';
        switch (rowObject.status) {
            case 1: return 'Cash';
            case 2: return 'Cheque';
        }
    }
    jQuery("#btnSearch").click(function () {
        var serfromdate = $("#serfromdate").val();
        var sertodate = $("#sertodate").val();
        var serVoucherNo = $("#serVoucherNo").val();
        var serRefNo = $("#serRefNo").val();
        jQuery("#list-receipts").jqGrid('setGridParam',
            {
                url: "/Company/SearchReceipts?serfromdate=" + serfromdate + '&sertodate=' + sertodate + '&serVoucherNo=' + serVoucherNo + '&serRefNo=' + serRefNo
                , page: 1
            })
            .trigger("reloadGrid");
    });
    $("#btnExport").on("click", function () {
        createExcelFromGrid("list-receipts", "Receipts")
    })
    function printInvoice(cellvalue, options, rowObject) {
        return '<a href="javascript:Print(' + Id + '); "  class="fa fas fa-print"></a>';

    }
    function Print(Id) {
        var wnd = window.open("", "", "_blank");
        $.ajax({
            url: "/Company/GetReceipts?Id=" + Id,
            type: 'GET',
            success: function (response) {
                debugger;
                var html = '<!DOCTYPE html><html lang = "en"><head><meta charset="utf-8"><title></title><link rel="stylesheet" href="/css/Invoicestyle.css" media="all" /></head><body>';
                var formatted = $.datepicker.formatDate("M d, yy", new Date(response.rows[0].sales.salesdate));
                var SalesOrderNum = response.rows[0].sales.salesOrder == null ? "" : response.rows[0].sales.salesOrder.refno;
                var lpono = response.rows[0].sales.lpono == null ? "" : response.rows[0].sales.salesOrder.lpono;
                html += '<header class="clearfix"><div id="logo"><img src="/logo.png"></div><h1>Delivery Note</h1><div id="company" class="clearfix"><div>' + response.rows[0].sales.invoiceno + '</div><div>' + SalesOrderNum + '</div><div>Lpono: ' + lpono + '</div><div>' + formatted + '</div><div></div><div></div></div>';
                var total = 0;
                html += '<div id="project"><div>' + response.rows[0].sales.customer.customerName + '</div><div>' + response.rows[0].sales.customer.customerAddress + '</div><div>' + response.rows[0].sales.customer.zipcode + ',' + response.rows[0].sales.customer.city.name + '</div><div>' + response.rows[0].sales.customer.license + ',' + response.rows[0].sales.customer.taxNo + '</div><div>' + response.rows[0].sales.customer.supportMail + ',' + response.rows[0].sales.customer.supportNo + '</div>';
                html += '</header><main><table><thead><tr><th class="desc">ItemName</th><th class="desc">Description</th><th>PRICE</th><th>QTY</th><th>TOTAL</th></tr></thead><tbody>';
                for (var i = 0; i < response.rows.length; i++) {
                    html += '<tr><td class="desc">' + response.rows[i].itemMaster.itemName + '</td><td class="desc">' + response.rows[i].comments + '</td><td class="unit">' + response.rows[i].amount + '</td><td class="qty">' + response.rows[i].qty + '</td><td class="total">' + response.rows[i].amount * response.rows[i].qty + '</td></tr>';
                    total += response.rows[i].amount * response.rows[i].qty;
                }
                //html += '<tr><td class="service">Development</td><td class="desc">Developing a Content Management System-based Website</td><td class="unit">$40.00</td><td class="qty">80</td><td class="total">$3,200.00</td></tr>';
                html += '<tr><tr><td colspan="3" class="grand total">ITEM TOTAL</td><td class="grand total">' + total + '</td></tr>';
                html += '<tr><td colspan="3" class="grand total">DISCOUNT</td><td class="grand total">' + response.rows[0].sales.discount + '</td></tr>';
                html += '<tr><td colspan="3" class="grand total">GRAND TOTAL</td><td class="grand total">' + total - response.rows[0].sales.discount + '</td></tr>';
                html += '</tbody></table><div id="notices"><div>Notes:</div><div class="notice">' + response.rows[0].sales.details + '</div></div></main>';
                html += '<footer>Invoice was created on a computer and is valid without the signature and seal.</footer></body></html>';
                //html += '</body></html>';
                wnd.document.write(html);
            },
            error: function (xhr) {
                alert("Something went wrong, please try again");
            }
        });

    }


    jQuery("#btnProcess").click(function () {
        var Salespaiddetails = [];
        var gridID = "list-receipts";
        var grid = $('#' + gridID);
        var rowIDList = grid.getDataIDs();
        var row = grid.getRowData(rowIDList[0]);
        for (var j = 0; j < rowIDList.length; j++) {
            row = grid.getRowData(rowIDList[j]);
            if (row.total != 0) {
                Salespaiddetails.push({
                    SalesId: row.id,
                    amount: row.total
                });
            }
        }
        $.ajax({
            url: "/Process/UpdateRecipt",
            type: 'POST',
            data: { Salespaiddetails: Salespaiddetails },
            success: function (response) {
                location.reload();
            },
            error: function (xhr) {
                alert("Something went wrong, please try again");
            }
        });
        //alert(rows);
    });
    var createExcelFromGrid = function (gridID, filename) {
        var grid = $('#' + gridID);
        var rowIDList = grid.getDataIDs();
        var row = grid.getRowData(rowIDList[0]);
        var colNames = [];
        var i = 0;
        var html = '<table border="1px"><tr>';
        for (var cName in row) {
            if (cName == "id" || cName == "modify") {
            }
            else {
                colNames[i++] = cName;
                switch (cName) {
                    case "name": html += '<th>Name</th>';
                        break;
                    case "smallunit": html += '<th>Unit</th>';
                        break;
                    case "roe": html += '<th>ROE</th>';
                        break;
                }
            }// Capture Column Names
        }
        html += '</tr>';
        for (var j = 0; j < rowIDList.length; j++) {
            row = grid.getRowData(rowIDList[j]); // Get Each Row
            html += '<tr>';
            for (var i = 0; i < colNames.length; i++) {
                html += '<td bgcolor="#D0D3D4 ">' + row[colNames[i]] + '</td>'; // Create a CSV delimited with ;
            }
            html += '</tr>';
        }
        html += '</table>';
        var a = document.createElement('a');
        a.id = 'ExcelDL';
        a.href = 'data:application/vnd.ms-excel,' + escape(html);
        a.download = filename ? filename + ".xls" : 'DataList.xls';
        document.body.appendChild(a);
        a.click(); // Downloads the excel document
        document.getElementById('ExcelDL').remove();
    }
</script>
