@model SC.Data.salereturn
@{
    ViewData["Title"] = "Sales Return";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();

</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/Custom.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h1 class="box-title">Sales Return</h1>
                <button type="button" id="btnSavesalesReturn" class="btn btn-primary btn-flat pull-right">Save</button>
                <form class="needs-validation" name="frmSaveBranch" id="frmSaveBranch" role="form" data-toggle="validator">
                    <div class="box-body">
                        <div class="form-group col-lg-12">
                            <div class="form-group col-lg-3">
                                <label>invoiceno</label>
                                <input id="invoiceno" class="form-control" data-error="Please enter your name" required />
                                <span asp-validation-for="invoiceno" class="text-danger" data-ng-message=""></span>
                            </div>
                        </div>

                      
                        <div class="form-group col-lg-3">
                            <label>details</label>
                            <input asp-for="details" class="form-control" data-error="Please enter your name" required />
                            <span asp-validation-for="details" class="text-danger" data-ng-message=""></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Total</label>
                            <input asp-for="Total" class="form-control" data-error="Please enter your name" disabled="disabled" />
                            <span asp-validation-for="Total" class="text-danger" data-ng-message=""></span>
                        </div>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="SalesId" />
                </form>
            </div>
            <div class="x_content">
                <table id="list-saleReturn" style="color:black !important" class="table table-dark"></table>
            </div>
            <div id="pager"></div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //var lastsel;
    $('#list-saleReturn').jqGrid({
        url: "/Sales/GetSaleDetails?SalesId=" + 0,
        datatype: 'json',
        colNames: ['Id', 'item Id', 'Item', 'Qty', 'Return', 'amount'],
        colModel: [
            { name: 'id', index: 'Id', editable: false, width: 100, key: true, hidden: true },
            { name: 'itemMasterId', index: 'itemMasterId', editable: false, width: 100, hidden: true },
            { name: "itemMaster.itemName", index: "itemMaster.itemName", editable: false, width: 100 },
            { name: "qty", index: "qty", width: 60, editable: false },
            { name: "count", index: "count", width: 60, editable: true },
            { name: "amount", index: "amount", width: 60, editable: false }
        ],
        jsonReader: {
            root: "rows",
            page: "page",
            total: "totalPages",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        subGrid: false,
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        //multiselect: true,
        viewrecords: true,
        onSelectRow: function (id) {
            jQuery('#list-saleReturn').jqGrid('editRow', id, true);

        },
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        grouping: true,
        caption: ''
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true },
    );
    jQuery('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
    })
    $(document).ready(function () {
        jQuery('.select2').select2()
    });
    function addcount(cellvalue, options, rowObject) {
        return 0;
    }
    $(document).on("keypress", "#invoiceno", function (e) {
        if (e.keyCode == 13) {
            $.ajax({
                url: "/Sales/GetsaleOrderbyInvoice?invoiceNo=" + $("#invoiceno").val(),
                type: 'GET',
                success: function (response) {
                    Loaddata(response.rows);
                },
                error: function (xhr) {
                    alert("Something went wrong, please try again");
                }
            });
        }
    });
    function Loaddata(rows) {
        if (rows == null) {
            alert("No Invoice");
            $("#SalesId").val(0);
            $("#invoiceno").val("");

        }
        else {
            $("#SalesId").val(rows.id);
        }
        jQuery("#list-saleReturn").jqGrid('setGridParam',
            {
                url: "/Sales/GetSaleDetails?SalesId=" + $("#SalesId").val()
                , page: 1
            })
            .trigger("reloadGrid");

    }
    $(document).on("click", "#btnSavesalesReturn", function () {
        debugger;
        Id
        var salereturnDetail = [];
        var salereturn = {
            invoiceno: $('#invoiceno').val(),
            details: $('#details').val(),
            Total: $('#Total').val(),
            SalesId: $('#SalesId').val(),
            Id: $('#Id').val(),
            Status: 1
        };
        $.ajax({
            url: "/Sales/Savesalereturn",
            type: 'POST',
            data: { salereturn: salereturn },
            success: function (response) {
                if (response.id > 0) {
                    var gridID = "list-saleReturn";
                    var grid = $('#' + gridID);
                    var rowIDList = grid.getDataIDs();
                    var row = grid.getRowData(rowIDList[0]);

                    for (var j = 0; j < rowIDList.length; j++) {
                        row = grid.getRowData(rowIDList[j]); // Get Each Row
                        if (row.count > 0) {
                            salereturnDetail.push({
                                salereturnId: response.id,
                                ItemMasterId: row.itemMasterId,
                                qty: row.count,
                                amount: row.amount
                            });
                        }
                    }
                    debugger;
                    $.ajax({
                        url: "/Sales/SavesalereturnDetail",
                        type: 'POST',
                        data: { salereturnDetail: salereturnDetail },
                        success: function (response) {
                            debugger;
                            window.location.href = '/Sales/saleReturnLoad';
                        },
                        error: function (xhr) {
                            debugger;
                            alert("Something went wrong, please try again");
                        }
                    });
                }
                //alert(response.id);
            },
            error: function (xhr) {
                alert("Something went wrong, please try again");
            }
        });
    });
</script>

