@model SC.Data.Sales
@{
    ViewData["Title"] = "Direct Sales";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sales Registration</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/js/Chosen.js"></script>
    <script src="~/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <link href="~/css/Chosen.css" rel="stylesheet" />
    <link href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

    <link href="~/css/itemTable.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".chzn-select").chosen();
            });

            var divstring = '<option>Select Item</option>';
            $.ajax({
                url: "/Company/GetItemMaster",
                type: 'GET',
                sync: 'false',
                success: function (response1) {
                    debugger;
                    for (var i = 0; i < response1.rows.length; i++) {
                        divstring += '<option data-value="' + response1.rows[i].id + '" data-price="' + response1.rows[i].price + '"  data-productcode="' + response1.rows[i].productCode + '">' + response1.rows[i].itemName + '</option>';
                    }

                },
                error: function (xhr) {
                    alert("Something went wrong, please try again");
                }
            });
            $('[data-toggle="tooltip"]').tooltip();
            //var edit = '<a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>';
            var actions = '<a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>';
            // Append table with add row form on add new button click
            $(".add-new").click(function () {
                $(this).attr("disabled", "disabled");
                var index = $("table tbody tr:last-child").index();


                var row = '<tr><td><input style="width:1%" type="text" id="ItemsCode"></td>' +
                    '<td><select class="form-control select2" name="ItemsId" id="ItemsId">' + divstring + '</select><input type="hidden" class="form-control" name="ItemsMasterId" id="ItemsMasterId"></td>' +
                    //'<td><select class="form-control" name="ItemsId" id="ItemsId"></select><input type="hidden" class="form-control" name="ItemsMasterId" id="ItemsMasterId"></td>' +
                    '<td><input type="text" class="form-control" name="qty"  id="qty"></td>' +
                    '<td><input type="text" class="form-control" name="itemprice"  id="itemprice"></td>' +
                    '<td><input type="text" disabled="disabled" class="form-control" name="itemTotal"  id="itemTotal">' +
                    '<td>' + actions + '</td>' +
                    '</tr>';
                $("table").append(row);
                $("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
                $('[data-toggle="tooltip"]').tooltip();
                $(function () {
                    //$(".chzn-select").chosen();
                    jQuery('.select2').select2()
                });
                $('#ItemsCode').focus();
            });
            // Add row on add button click
            $(document).on("click", ".add", function () {
                var empty = false;
                var input = $(this).parents("tr").find('input[type="text"]');
                input.each(function () {
                    debugger;
                    if (!$(this).val()) {
                        $(this).addClass("error");
                        empty = true;
                    } else {
                        $(this).removeClass("error");
                    }
                });
                $(this).parents("tr").find(".error").first().focus();

                input.each(function () {
                    $(this).parent("td").html($(this).val());
                });
                var i = 1;
                var t = document.getElementById('tblItemDetails');
                var amount = 0
                $("#tblItemDetails tr").each(function () {
                    debugger;
                    if ($("#tblItemDetails tr").length > i) {
                        amount += parseFloat($(t.rows[i].cells[4]).text());
                    }
                    i++;
                    $('#txtAmount').val(amount);
                    var Discount = parseFloat($('#Discount').val());
                    $('#Total').val(amount - Discount);
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").removeAttr("disabled");

            });
            $(document).on("keypress", '#itemprice', function (e) {
                if (e.keyCode == 13) {
                    debugger;
                    var empty = false;
                    var input = $(this).parents("tr").find('input[type="text"]');
                    input.each(function () {
                        debugger;
                        if (!$(this).val()) {
                            $(this).addClass("error");
                            empty = true;
                        } else {
                            $(this).removeClass("error");
                        }
                        $(this).prop('disabled', true)
                    });
                    $(this).parents("tr").find("#ItemsId").prop('disabled', true).trigger("chosen:updated");
                    $(this).parents("tr").find(".error").first().focus();

                    input.each(function () {
                        $(this).parent("td").html($(this).val());
                    });
                    var i = 1;
                    var t = document.getElementById('tblItemDetails');
                    var amount = 0
                    $("#tblItemDetails tr").each(function () {
                        debugger;
                        if ($("#tblItemDetails tr").length > i) {
                            amount += parseFloat($(t.rows[i].cells[4]).text());
                        }
                        i++;
                        $('#txtAmount').val(amount);
                        var Discount = parseFloat($('#Discount').val());
                        $('#Total').val(amount - Discount);
                    });
                    //$('#ItemsId').prop('disabled', true).trigger("chosen:updated");
                    $(this).parents("tr").find(".add, .edit").toggle();
                    $(".add-new").removeAttr("disabled");
                    $(this).attr("disabled", "disabled");
                    var index = $("table tbody tr:last-child").index();
                    var row = '<tr><td><input style="width:1%" type="text" id="ItemsCode"></td>' +
                        '<td><select class="form-control select2" name="ItemsId" id="ItemsId">' + divstring + '</select><input type="hidden" class="form-control" name="ItemsMasterId" id="ItemsMasterId"></td>' +
                        //'<td><select class="form-control" name="ItemsId" id="ItemsId"></select><input type="hidden" class="form-control" name="ItemsMasterId" id="ItemsMasterId"></td>' +
                        '<td><input type="text" class="form-control"  name="qty" id="qty"></td>' +
                        '<td><input type="text" class="form-control"  name="itemprice" id="itemprice"></td>' +
                        '<td><input type="text" disabled="disabled"  class="form-control" name="itemTotal" id="itemTotal">' +
                        '<td>' + actions + '</td>' +
                        '</tr>';
                    $("table").append(row);
                    //$("table tbody tr").eq(index + 1).find(".add, .edit").toggle();
                    $('[data-toggle="tooltip"]').tooltip();
                    $(function () {
                        //$(".chzn-select").chosen();
                        jQuery('.select2').select2()
                    });
                    $('#ItemsCode').focus();

                }
            });
            // Edit row on edit button click
            $(document).on("click", ".edit", function () {
                $(this).parents("tr").find("td:not(:last-child)").each(function () {
                    $(this).html('<input type="text" class="form-control" value="' + $(this).text() + '">');
                });
                $(this).parents("tr").find(".add, .edit").toggle();
                $(".add-new").attr("disabled", "disabled");
            });
            // Delete row on delete button click

            $(document).on("change", ".amount", function () {
                var amount = parseFloat($('#txtAmount').val());
                var Discount = parseFloat($('#Discount').val());
                $('#Total').val(amount - Discount);
            });
            $(document).on("click", ".delete", function () {
                $(this).parents("tr").remove();
                $(".add-new").removeAttr("disabled");
            });
            $(document).on('change', '#ItemsCode', function (e) {
                debugger;

                var code = $('#ItemsCode').val();
                if (code.startsWith("ND")) {
                    code = code.replace(/^\D+/g, '').replace(/^0+/, '');
                    $('#ItemsId').val(code).trigger('change');
                }
                else
                    $('#ItemsId option[data-productcode="' + code + '"]').prop('selected', true).trigger('change');
                $('#qty').focus();


            });


            $(document).on("change", "#ItemsId", function () {
                var price = $(this).find(':selected').data('price');
                var row = $(this).closest('tr');
                $('#itemprice').val(price);
                $('#itemTotal').val(price);
                row.find('#ItemsMasterId').val($(this).find(':selected').data('value'));
                var id = $(this).find(':selected').data('value');
                debugger;
                $.ajax({
                    url: "/Company/GetItemStock?Id=" + id,
                    type: 'GET',
                    success: function (response) {
                        debugger;
                        //row.find('#ItemMin').val(response[0].purPrice);
                        $('#ItemStock').val(response[0].stock);
                    },
                    error: function (xhr) {
                        alert("Something went wrong, please try again");
                    }
                });
                $('#ItemsMasterId').val($(this).find(':selected').data('value'))
                $('#qty').val(1);
            });
            $(document).on("change", "#qty", function () {
                var row = $(this).closest('tr');
                var price = $('#itemprice').val();
                debugger;
                var qty = parseInt($('#qty').val());
                $('#itemTotal').val(price * $('#qty').val());
                stock = parseInt($('#ItemStock').val());
                if (qty > stock) {
                    alert('Only ' + stock + ' Items Left');
                    $(this).parents("tr").css('background', 'red');
                }
            });
            $(document).on("change", "#itemprice", function () {
                var row = $(this).closest('tr');
                var price = $('#itemprice').val();
                $('#itemTotal').val(price * $('#qty').val());
            });
            $(document).on("change", "#CustomerId", function () {
                $('#txtCreditAmount').val($(this).find(':selected').data('credit'));
                $('#txtDueAmount').val($(this).find(':selected').data('due'));
                var CustomerId = $('#CustomerId').val();
                $.ajax({
                    url: "/Report/CheckLimit",
                    type: 'GET',
                    data: { CustomerId: CustomerId },
                    success: function (response) {
                        if (response.msg != "Success") {
                            $('#CustomerId').val(0).trigger("chosen:updated");
                            toastr.error(response.msg);
                        }
                    },
                    error: function (xhr) {
                        alert("Something went wrong, please try again");
                    }
                });
            });
            $.ajax({
                url: "/Sales/GetSaleDetails?SalesId=" + $("#Id").val(),
                type: 'GET',
                success: function (response) {
                    BuildItemDetails(response.rows);
                },
                error: function (xhr) {
                    alert("Something went wrong, please try again");
                }
            });

            function BuildItemDetails(items) {
                debugger;
                var divstring = '<thead><tr><th style="width:1%">#</th><th style="width:29%">Name</th><th style="width:20%">Quantity</th><th style="width:20%">Price</th></th><th style="width:25%">Total</th><th style="width:5%">Actions</th></tr></thead><tbody>';
                $("#tblItemDetails").empty();
                for (var i = 0; i < items.length; i++) {
                    divstring += '<tr><td><input style="width:1%" type="text" id="ItemsCode"></td><td id="name">' + items[i].itemMaster.itemName + '<input type="hidden" value="' + items[i].itemMasterId + '" name="ItemsMasterId" id="ItemsMasterId"></td><td id="quantity">' + items[i].qty + '</td></td><td id="quantity">' + items[i].amount + '</td><td id="itemtotal">' + items[i].amount * items[i].qty + '</td>'
                    divstring += '<td><a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>';
                    divstring += '<a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></td></tr>';
                }
                divstring += '</tbody>';
                $("#tblItemDetails").append(divstring);
            }

        });
        $.ajax({
            url: "/Company/GetCustomer",
            type: 'GET',
            success: function (response) {
                BuildCity(response.rows);
            },
            error: function (xhr) {
                alert("Something went wrong, please try again");
            }
        });
        function BuildCity(items) {
            var divstring = '<option Value="0">Select Customer</option>';
            $("#CustomerId").empty();
            for (var i = 0; i < items.length; i++) {
                divstring += '<option Value="' + items[i].id + '" data-credit="' + items[i].creditlimit + '" data-due="' + items[i].creditlimit + '">' + items[i].customerName + '</option>';
            }
            $("#CustomerId").append(divstring);
            $("#CustomerId").val(230).trigger("chosen:updated");

        }
        function PrintVatInvoice(Id) {
            var wnd = window.open("", "", "_blank");
            $.ajax({
                url: "/Sales/GetSaleDetails?SalesId=" + Id,
                type: 'GET',
                success: function (response) {
                    debugger;
                    var html = '<!DOCTYPE html><html lang = "en"><head><meta charset="utf-8"><title></title><link rel="stylesheet" href="/css/Invoicestyle.css" media="all" /></head><body>';
                    var formatted = $.datepicker.formatDate("M d, yy", new Date(response.rows[0].sales.salesdate));
                    html += '<header class="clearfix"><img src="/images/InvoiceHeader.jpeg"><h1>Invoice</h1><div id="company" class="clearfix"><div>' + response.rows[0].sales.invoiceno + '</div><div>' + formatted + '</div><div>TRN No. 100221926700003</div><div></div><div></div></div>';
                    var total = 0;
                    var vat = 0;
                    html += '<div id="project"><div>' + response.rows[0].sales.customer.customerName + '</div><div>' + response.rows[0].sales.customer.customerAddress + '</div><div>' + response.rows[0].sales.customer.zipcode + ',' + response.rows[0].sales.customer.city.name + '</div><div>' + response.rows[0].sales.customer.license + ',' + response.rows[0].sales.customer.taxNo + '</div><div>' + response.rows[0].sales.customer.supportMail + ',' + response.rows[0].sales.customer.supportNo + '</div>';
                    html += '</header><main><table><thead><tr><th class="desc">ItemName</th><th class="desc">Description</th><th>PRICE</th><th>QTY</th><th>TOTAL</th></tr></thead><tbody>';
                    for (var i = 0; i < response.rows.length; i++) {
                        html += '<tr><td class="desc">' + response.rows[i].itemMaster.itemName + '</td><td class="desc">' + response.rows[i].comments + '</td><td class="unit">' + response.rows[i].amount + '</td><td class="qty">' + response.rows[i].qty + '</td><td class="total">' + response.rows[i].amount * response.rows[i].qty + '</td></tr>';
                        total += response.rows[i].amount * response.rows[i].qty;
                    }
                    vat = (Math.round(total * .05 * 100) / 100);
                    //html += '<tr><td class="service">Development</td><td class="desc">Developing a Content Management System-based Website</td><td class="unit">$40.00</td><td class="qty">80</td><td class="total">$3,200.00</td></tr>';
                    html += '<tr><tr><td colspan="4" class="grand total">Amount</td><td class="grand total">' + total + '</td></tr><tr><td colspan="3">VAT</td><td>' + response.rows[0].sales.discount + '</td></tr><tr><td colspan="3">VAT</td><td>' + vat + '</td></tr><tr><td colspan="3">GRAND TOTAL</td><td>' + (Math.round((total + vat - response.rows[0].sales.discount) * 100) / 100) + '</td></tr>';
                    html += '</tbody></table><div id="notices"><div>Notes:</div><div class="notice">' + response.rows[0].sales.details + '</div></div></main>';
                    html += '<footer><img src="/images/InvoiceFooter.jpeg"></footer></body></html>';
                    wnd.document.write(html);
                },
                error: function (xhr) {
                    alert("Something went wrong, please try again");
                }
            });

        }
        $(document).on("click", "#btnSaveOrder", function () {
            if ($('#CustomerId').val() == 0) {
                alert("Select Customer");
                return false;
            }
            var SalesDetail = [];
            var Sales = {
                CustomerId: $('#CustomerId').val(),
                invoiceno: $('#invoiceno').val(),
                lpono: $('#lpono').val(),
                salesdate: $('#salesdate').val(),
                details: $('#details').val(),
                Total: $('#Total').val(),
                balance: $('#Total').val(),
                Id: $('#Id').val(),
                Discount: $('#Discount').val()
            };
            var i = 1;
            var isSave = false;
            if ($("#tblItemDetails tr").length > i) {
                isSave = true;
            }
            if (!isSave) {
                alert("Please add atleast one Item");
                return false;
            }
            $.ajax({
                url: "/Sales/SaveSales",
                type: 'POST',
                data: { Sales: Sales },
                success: function (response) {
                    if (response.id > 0) {

                        var t = document.getElementById('tblItemDetails');
                        $("#tblItemDetails tr").each(function () {
                            if ($("#tblItemDetails tr").length > i) {
                                debugger;
                                SalesDetail.push({
                                    SalesId: response.id,
                                    ItemMasterId: $(t.rows[i]).find('#ItemsMasterId').val(),
                                    qty: $(t.rows[i].cells[2]).text(),
                                    amount: $(t.rows[i].cells[3]).text()
                                });
                            }
                            i++;
                        });
                        debugger;
                        $.ajax({
                            url: "/Sales/SaveSalesDetail",
                            type: 'POST',
                            data: { SalesDetail: SalesDetail },
                            success: function (resp) {
                                PrintVatInvoice(response.id);
                                window.location.href = '/Sales/SalesList';
                            },
                            error: function (xhr) {
                                alert("Something went wrong, please try again");
                            }
                        });
                    }
                    //alert(response.id);
                },
                error: function (xhr) {
                    alert("Something went wrong, please try again");
                }
            });
        });
        //$('.datepicker').datepicker({
        //    dateFormat: 'dd/mm/yy',
        //    showAnim: "fold"
        //})
    </script>
</head>
<body>
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h1 class="box-title">New Sales</h1>
                    <button type="button" id="btnSaveOrder" class="btn btn-primary btn-flat pull-right">Save</button>
                </div>
                <div class="box-body">


                    <div class="form-group col-lg-3">
                        <label for="exampleInputEmail1">Customer</label>
                        <select asp-for="CustomerId" class="form-control chzn-select"></select>
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="exampleInputEmail1">Invoice No</label>
                        <input asp-for="invoiceno" class="form-control" disabled />
                    </div>
                    <div class="form-group col-lg-3">
                        <label for="exampleInputEmail1">Lpo No</label>
                        <input asp-for="lpono" class="form-control" />
                    </div>
                    
                    <div class="form-group col-lg-2">
                        <label for="exampleInputEmail1">Credit</label>
                        <input type="text" class="form-control" id="txtCreditAmount" disabled="disabled" value="0" />

                    </div>
                    <div class="form-group col-lg-2">
                        <label for="exampleInputEmail1">Due Amount</label>
                        <input type="text" class="form-control amount" id="txtDueAmount" disabled="disabled" value="0" />

                    </div>
                    <div class="col-lg-3">
                        VAT Invoice <br /><input asp-for="Isvat" type="checkbox" class="form-control" />
                    </div>

                    <div class="form-group col-lg-3">
                        <label for="exampleInputEmail1">Oreder Date</label>
                        @Html.TextBoxFor(Model => Model.salesdate, "{0: dd/MM/yyyy}", new { @class = "form-control datepicker", @required = "required" })
                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1">Details</label>
                        @Html.TextAreaFor(Model => Model.details, new { @class = "form-control", @required = "required" })

                    </div>
                    <div class="form-group col-lg-2">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="text" class="form-control amount" id="txtAmount" disabled="disabled" value="0" />

                    </div>
                    <div class="form-group col-lg-2">

                        <label for="exampleInputEmail1">Discount</label>
                        <input type="text" asp-for="Discount" class="form-control amount" value="0" />
                    </div>
                    <div class="form-group col-lg-2">
                        <label for="exampleInputEmail1">Total</label>
                        <input type="text" asp-for="Total" disabled="disabled" class="form-control amount" />

                    </div>
                    <div class="form-group col-lg-2">
                        <label for="exampleInputEmail1">ItemStock</label>
                        <input type="number" disabled="disabled" id="ItemStock" class="form-control amount" />

                    </div>
                </div>
                @Html.HiddenFor(Model => Model.Id)

            </div>
        </div>
    </div>
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Item <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add Item</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered" id="tblItemDetails"></table>
    </div>
</body>
</html>
<script>
    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        showAnim: "fold"
    })
</script>