@{
    ViewData["Title"] = "No Stock Items";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
@*<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />*@
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                @*<div class="col-md-2">
                    Item Code <br /><input type="text" class="form-control"  id="serCode" />
                </div>
                <div class="col-md-2">
                    Item Name <br /><input type="text" class="form-control"  id="serName" />
                </div>
                <div class="col-md-2">
                    Category <br /><select id="serCategory" name="status" class="form-control select2" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Department"></select>
                </div>
                <div class="col-md-2">
                    Brand <br /><select id="serBrand" name="status" class="form-control select2" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Department"></select>
                </div>*@
                <div class="col-md-1">
                    From Date <br /><input type="text" class="form-control datepicker"  id="serfromdate" />
                </div>
                <div class="col-md-1">
                    To Date<br /> <input type="text" class="form-control datepicker"  id="sertodate" />
                </div>
                <div class="col-md-2">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnSearch">Search</button>
                </div>
            </div>
            <div class="box-body">
                <table id="list-inventoryvalue" style="color:black !important" class="table table-dark"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-inventoryvalue').jqGrid({
        url: '/Report/GetInventoryValue',
        datatype: 'json',
        colNames: ['Id', 'ItemCode', 'Name', 'Purchase Qty', 'Purchase Amt', 'Sales Qty','Sales Amt'],
        colModel: [
            {
                name: 'id', index: 'id', editable: false, width: 100, key: true, hidden: true
            },
            { name: 'itemCode', index: 'itemMaster.itemCode', editable: true, width: 100, editrules: { required: true } },
            { name: 'itemName', index: 'itemMaster.itemName', editable: true, width: 200 },           
            {
                name: "purchaseQty", index: "purchaseQty", width: 100, formatter: 'int',
                summaryTpl: "Total : {0}  ",
                summaryType: "sum"
            },              
            {
                name: "purchaseAmt", index: "purchaseAmt", width: 100, formatter: 'number',
                summaryTpl: "Total : {0}  ",
                summaryType: "sum"
            },              
            {
                name: "salesQty", index: "salesQty", width: 100, formatter: 'int',
                summaryTpl: "Total : {0}  ",
                summaryType: "sum"
            },             
            {
                name: "salesAmt", index: "salesAmt", width: 100, formatter: 'number',
                summaryTpl: "Total : {0}  ",
                summaryType: "sum"
            }
        ],
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        //multiselect: true,
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        footerrow: true,
        userDataOnFooter: true,
        grouping: true,
        gridComplete: function () {
            var $grid = $('#list-inventoryvalue');
            $grid.jqGrid('footerData', 'set', {
                name: "Total"
            });
            var colSum = $grid.jqGrid('getCol', 'purchaseQty', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                purchaseQty: colSum
            });
            var colSum1 = $grid.jqGrid('getCol', 'purchaseAmt', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                purchaseAmt: colSum1
            });
            var colSum2 = $grid.jqGrid('getCol', 'salesQty', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                salesQty: colSum2
            });
            var colSum3 = $grid.jqGrid('getCol', 'salesAmt', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                salesAmt: colSum3
            });
        },
        emptyrecords: 'No records',
        caption: 'List of Inventory Value'
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: false });
    $.ajax({
        url: '/Company/GetCategory',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var divstring = '<option Value="0">SelectAll</option>';
            $('#serCategory').empty();
            for (var i = 0; i < data.rows.length; i++) {
                divstring += '<option Value="' + data.rows[i].id + '">' + data.rows[i].categoryName + '</option>';
            }
            $('#serCategory').append(divstring);
        },
        error: function () {
            console.log('err')
        }
    });
    $.ajax({

        url: '/Company/GetItemBrand',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var divstring = '<option Value="0">SelectAll</option>';
            $('#serBrand').empty();
            for (var i = 0; i < data.rows.length; i++) {
                divstring += '<option Value="' + data.rows[i].id + '">' + data.rows[i].brnadname + '</option>';
            }
            $('#serBrand').append(divstring);
        },
        error: function () {
            console.log('err')
        }
    });
    jQuery("#btnSearch").click(function () {
        var serfromdate = $("#serfromdate").val();
        var sertodate = $("#sertodate").val();
        jQuery("#list-inventoryvalue").jqGrid('setGridParam',
            { url: "/Report/GetInventoryValue?serfromdate=" + serfromdate + '&sertodate=' + sertodate, page: 1 })
            .trigger("reloadGrid");
    });
    function addEditLink(cellvalue, options, rowObject) {
        var Id = rowObject.id;
        return '<a href="/Company/NewItem?id=' + Id + '"  class="fa fas fa-edit"></a>';
    }
    $(document).ready(function () {
        jQuery('.select2').select2()
    });
    jQuery('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy'
    })
</script>
