@{
    ViewData["Title"] = "Balance Sheet";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<link href="~/css/Custom.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-md-12">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                </div>
            </div>
            <div class="box-body">
                <table id="list-BalanceSheet" style="color:black !important" class="table table-dark"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-BalanceSheet').jqGrid({
        url: "/Report/getBalanceSheet",
        datatype: 'json',
        colNames: ['Id', 'Account Type', 'Account Group', 'Account Name', 'Dr','Cr'],
        colModel: [
            { name: 'id', index: 'id', editable: false, width: 100, key: true, hidden: true },
            { name: 'coaBase', index: 'coaBase', editable: false, width: 100, hidden: false },
            { name: 'coaTypeName', index: 'coaTypeName', editable: false, width: 100, hidden: false },
            { name: 'name', index: 'name', editable: false, width: 100, hidden: false },
            {
                label: 'dr',
                name: 'dr',
                width: 150,
                formatter: 'number',
                summaryTpl: "Total Dr: {0}",
                summaryType: "sum"
            },  
            {
                label: 'cr',
                name: 'cr',
                width: 150,
                formatter: 'number',
                summaryTpl: "Total Dr: {0}",
                summaryType: "sum"
            }, 

        ],
        jsonReader: {
            root: "rows",
            page: "page",
            total: "totalPages",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        footerrow: true,
        userDataOnFooter: true,
        grouping: true,
        groupingView: {
            groupField: ['coaBase'],
            groupColumnShow: [true],
            groupText: ['<b>{0}</b>'],
            groupCollapse: false,
            groupOrder: ['asc'],
            groupSummary: [true],
            showSummaryOnHide: true,
            groupDataSorted: true
        },
        gridComplete: function () {
            var $grid = $('#list-BalanceSheet');
            $grid.jqGrid('footerData', 'set', {
                name: "Total"
            });
            var colSum = $grid.jqGrid('getCol', 'dr', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                dr: colSum
            });
            var colSum1 = $grid.jqGrid('getCol', 'cr', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                cr: colSum1
            });
        },
        caption: 'Balance Sheet',
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true },
    );
</script>
