@{
    ViewData["Title"] = "Customer Summary";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
@*<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />*@
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-md-2">
                    Customer Name <br />
                    <select id="serName" name="status" class="form-control select2" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Department"></select>
                </div>
                <div class="col-md-2">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnSearch">Search</button>
                </div>
            </div>
            <div class="box-body">
                <table id="list-customersummary" style="color:black !important" class="table table-dark"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-customersummary').jqGrid({
        url: '/Report/GetCustomerInfo',
        datatype: 'json',
        colNames: ['Id', 'Code', 'Name', 'address', 'number', 'Credit Limit', 'Credit days', 'Day', 'assignedTo', 'Balance', 'Status'],
        colModel: [
            { name: 'id', index: 'Id', editable: false, width: 100, key: true, hidden: true },
            { name: 'code', index: 'code', editable: false, width: 150 },
            { name: 'name', index: 'name', editable: false, width: 150 },
            { name: 'address', index: 'address', editable: false, width: 150 },
            { name: 'number', index: 'number', editable: false, width: 150 },
            { name: 'creditlimit', index: 'creditlimit', editable: false, width: 150 },
            { name: 'creditdays', index: 'creditdays', editable: false, width: 150 },
            { name: 'assignedDay', index: 'assignedDay', editable: false, width: 150 },
            { name: 'assignedTo', index: 'assignedTo', editable: false, width: 150 },
            { name: 'balance', index: 'balance', editable: false, width: 150 },
            { name: 'status', index: 'status', editable: false, width: 150 }
        ],
        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        //multiselect: true,
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        footerrow: true,
        userDataOnFooter: true,
        grouping: true,

        caption: 'List of Customer Summary'
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true });
    $.ajax({
        url: '/Company/GetCustomer',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var divstring = '<option Value="0">SelectAll</option>';
            $('#serName').empty();
            for (var i = 0; i < data.rows.length; i++) {
                divstring += '<option Value="' + data.rows[i].id + '">' + data.rows[i].customerName + '</option>';
            }
            $('#serName').append(divstring);
        },
        error: function () {
            console.log('err')
        }
    });

    $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        url: '/Report/GetCustomerAlertList',
        success: function (response) {
            debugger;
            for (var i = 0; i < response.alert.length; i++) {
                debugger;
                toastr.error('Customer Name:' + response.alert[i].customerName+ '<br />Zip:' + response.alert[i].zipcode);

                //$(document).Toasts('create', {
                //    class: 'bg-danger',
                //    title: response.alert[i].customerName,
                //    subtitle: 'Due',
                //    body: 'You have a Due for this customer'
                //});
                //$('.' + response[i]).show();
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            //window.open('/NotFound/NotFound');

        }
    });
    jQuery("#btnSearch").click(function () {

        var serName = $("#serName").val();
        jQuery("#list-customersummary").jqGrid('setGridParam',
            { url: "/Report/GetCustomerInfo?CustomerId=" + serName, page: 1 })
            .trigger("reloadGrid");
    });
    $("#btnExport").on("click", function () {
        createExcelFromGrid("list-customersummary", "customersummary")
    })
    function createExcelFromGrid(gridID, filename) {
        var grid = $('#' + gridID);
        var rowIDList = grid.getDataIDs();
        var row = grid.getRowData(rowIDList[0]);
        var colNames = [];
        var i = 0;
        var html = '<table border="1px"><tr>';
        for (var cName in row) {
            if (cName == "id") {
            }
            else {
                colNames[i++] = cName;
                html += '<th>' + cName + '</th>';

            }// Capture Column Names
        }
        html += '</tr>';
        for (var j = 0; j < rowIDList.length; j++) {
            row = grid.getRowData(rowIDList[j]); // Get Each Row
            html += '<tr>';
            for (var i = 0; i < colNames.length; i++) {
                html += '<td bgcolor="#D0D3D4 ">' + row[colNames[i]] + '</td>'; // Create a CSV delimited with ;
            }
            html += '</tr>';
        }
        html += '</table>';
        
        var a = document.createElement('a');
        a.id = 'ExcelDL';
        a.href = 'data:application/vnd.ms-excel,' + escape(html);
        a.download = filename ? filename + ".xls" : 'DataList.xls';
        document.body.appendChild(a);
        a.click(); // Downloads the excel document
        document.getElementById('ExcelDL').remove();
        //var wnd = window.open("", "", "_blank");
        //wnd.document.write(html);
    }
    $(document).ready(function () {
        jQuery('.select2').select2()
    });
</script>
