@{
    ViewData["Title"] = "Customer Summary";
    Layout = "~/Views/_AdminLayout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<script type="text/javascript">
    jQuery.browser = {};
    (function () {
        jQuery.browser.msie = false;
        jQuery.browser.version = 0;
        if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
            jQuery.browser.msie = true;
            jQuery.browser.version = RegExp.$1;
        }
    })();
</script>
<script src="~/js/grid.locale-en.js"></script>
<script src="~/js/jquery.jqGrid.min.js"></script>
@*<link href="~/css/ui.jqgrid-bootstrap.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap4.css" rel="stylesheet" />
    <link href="~/css/ui.jqgrid-bootstrap-ui.css" rel="stylesheet" />*@
<link href="~/css/jquery-ui.css" rel="stylesheet" />
<link href="~/css/ui.jqgrid.css" rel="stylesheet" />
<style>
    .ui-jqgrid tr.myMarking td {
        font-weight: bolder;
        font-size: 14px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="col-md-2">
                    Item Name <br />
                    <select id="serName" name="status" class="form-control select2" data-toggle="tooltip" data-trigger="hover" data-placement="top" data-title="Department"></select>
                </div>
                <div class="col-md-2">
                    <br />
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnExport">Export</button>
                    <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px !important; padding: 3px 10px;" id="btnSearch">Search</button>
                </div>
            </div>
            <div class="box-body">
                <table id="list-customersummary" style="color:black !important" class="table table-dark"></table>
                <div id="pager"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#list-customersummary').jqGrid({
        url: '/Report/GetItemSummary',
        datatype: 'json',
        colNames: ['Id', 'Code', 'ItemName', 'Invoiceno', 'type', 'count', 'amount', 'customer', 'date', 'Oreder Created'],
        colModel: [
            { name: 'id', index: 'Id', editable: false, width: 100, key: true, hidden: true },
            { name: 'code', index: 'code', editable: false, width: 150 },
            { name: 'itemName', index: 'itemName', editable: false, width: 150 },
            { name: 'invoiceno', index: 'invoiceno', editable: false, width: 150 },
            { name: 'type', index: 'type', editable: false, width: 150 },
            {
                name: 'count', index: 'count', editable: false, width: 150
            },
            { name: 'amount', index: 'amount', editable: false, width: 150, formatter: 'number' },
            { name: 'customer', index: 'customer', editable: false, width: 150 },
            { name: 'date', index: 'date', editable: false, width: 150, formatter: 'date', formatoptions: { srcformat: 'Y/m/d', newformat: 'd-M-Y' } },
            { name: 'created', index: 'created', editable: false, width: 150 }
        ],

        jsonReader: {
            root: "rows",
            page: "page",
            total: "total",
            records: "records",
            repeatitems: false,
            id: "0"
        },
        rowattr: function (rd) {
            if (rd.id === 0) {
                debugger
                return { "class": "myMarking" };
            }
        },
        rowNum: 250,
        rowList: [250, 500, 1000],
        pager: '#pager',
        sortname: 'code',
        sortorder: 'asc',
        //multiselect: true,
        viewrecords: true,
        height: '100%',
        width: '100%',
        sortorder: 'asc',
        loadonce: false,
        autowidth: true,
        shrinkToFit: true,
        scrollOffset: 0,
        emptyrecords: 'No records',
        footerrow: true,
        userDataOnFooter: true,
        grouping: true,
        gridComplete: function () {
            var $grid = $('#list-customersummary');
            $grid.jqGrid('footerData', 'set', {
                name: "Total"
            });
            var colSum = $grid.jqGrid('getCol', 'count', false, 'sum');
            $grid.jqGrid('footerData', 'set', {
                total: colSum
            });
        },

        caption: 'Item wise Summary'
    }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false, closeAfterSearch: true });
    $.ajax({
        url: '/Company/GetItemMaster',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var divstring = '';
            $('#serName').empty();
            for (var i = 0; i < data.rows.length; i++) {
                divstring += '<option Value="' + data.rows[i].id + '">' + data.rows[i].itemName + '</option>';
            }
            $('#serName').append(divstring);
        },
        error: function () {
            console.log('err')
        }
    });
    jQuery("#btnSearch").click(function () {

        var serName = $("#serName").val();
        jQuery("#list-customersummary").jqGrid('setGridParam',
            { url: "/Report/GetItemSummary?ItemId=" + serName, page: 1 })
            .trigger("reloadGrid");
    });
    $("#btnExport").on("click", function () {
        createExcelFromGrid("list-customersummary", "customersummary")
    })
     $.ajax({
        type: "GET",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
         url: '/Report/GetItemAlertList',
        success: function (response) {
            debugger;
            for (var i = 0; i < response.alert.length; i++) {
                debugger;
                toastr.error('Item Name:' + response.alert[i].itemName + '<br />Stock:' + response.alert[i].stock);

                //$(document).Toasts('create', {
                //    class: 'bg-danger',
                //    title: response.alert[i].customerName,
                //    subtitle: 'Due',
                //    body: 'You have a Due for this customer'
                //});
                //$('.' + response[i]).show();
            }
        },
        error: function (xhr, ajaxOptions, thrownError) {
            //window.open('/NotFound/NotFound');

        }
    });
    function createExcelFromGrid(gridID, filename) {
        var grid = $('#' + gridID);
        var rowIDList = grid.getDataIDs();
        var row = grid.getRowData(rowIDList[0]);
        var colNames = [];
        var i = 0;
        var html = '<table border="1px"><tr>';
        for (var cName in row) {
            if (cName == "id") {
            }
            else {
                colNames[i++] = cName;
                html += '<th>' + cName + '</th>';

            }// Capture Column Names
        }
        html += '</tr>';
        for (var j = 0; j < rowIDList.length; j++) {
            row = grid.getRowData(rowIDList[j]); // Get Each Row
            html += '<tr>';
            for (var i = 0; i < colNames.length; i++) {
                html += '<td bgcolor="#D0D3D4 ">' + row[colNames[i]] + '</td>'; // Create a CSV delimited with ;
            }
            html += '</tr>';
        }
        html += '</table>';

        var a = document.createElement('a');
        a.id = 'ExcelDL';
        a.href = 'data:application/vnd.ms-excel,' + escape(html);
        a.download = filename ? filename + ".xls" : 'DataList.xls';
        document.body.appendChild(a);
        a.click(); // Downloads the excel document
        document.getElementById('ExcelDL').remove();
        //var wnd = window.open("", "", "_blank");
        //wnd.document.write(html);
    }
    $(document).ready(function () {
        jQuery('.select2').select2()
    });
</script>
